@import "tailwindcss";

@theme {
  --color-indigo-50: #f3f8f4;
  --color-indigo-100: #e3efe4;
  --color-indigo-200: #cbe0cd;
  --color-indigo-300: #a5caa8;
  --color-indigo-400: #86b889;
  --color-indigo-500: #71a874;
  --color-indigo-600: #71a874;
  --color-indigo-700: #598c5c;
  --color-indigo-800: #476f4a;
  --color-indigo-900: #3a5b3c;

  --color-slate-50: #f5f5f5;
  --color-slate-100: #f5f5f5;
  --color-slate-200: #e5e5e5;
  --color-slate-300: #d4d4d4;
  --color-slate-400: #a3a3a3;
  --color-slate-500: #737373;
  --color-slate-600: #525252;
  --color-slate-700: #404040;
  --color-slate-800: #414141;
  --color-slate-900: #414141;

  --color-zinc-50: #f5f5f5;
  --color-zinc-100: #f5f5f5;
  --color-zinc-200: #e5e5e5;
  --color-zinc-300: #d4d4d4;
  --color-zinc-400: #a3a3a3;
  --color-zinc-500: #737373;
  --color-zinc-600: #525252;
  --color-zinc-700: #404040;
  --color-zinc-800: #414141;
  --color-zinc-900: #414141;

  --color-neutral-50: #f5f5f5;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #414141;
  --color-neutral-900: #414141;

  --color-gray-50: #f5f5f5;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #414141;
  --color-gray-900: #414141;

  --color-amber-50: #f3f8f4;
  --color-amber-100: #e3efe4;
  --color-amber-200: #cbe0cd;
  --color-amber-300: #a5caa8;
  --color-amber-400: #86b889;
  --color-amber-500: #71a874;
  --color-amber-600: #71a874;
  --color-amber-700: #598c5c;
  --color-amber-800: #476f4a;
  --color-amber-900: #3a5b3c;

  --color-emerald-50: #f3f8f4;
  --color-emerald-100: #e3efe4;
  --color-emerald-200: #cbe0cd;
  --color-emerald-300: #a5caa8;
  --color-emerald-400: #86b889;
  --color-emerald-500: #71a874;
  --color-emerald-600: #71a874;
  --color-emerald-700: #598c5c;
  --color-emerald-800: #476f4a;
  --color-emerald-900: #3a5b3c;

  --color-rose-50: #f5f5f5;
  --color-rose-100: #f5f5f5;
  --color-rose-200: #e5e5e5;
  --color-rose-300: #d4d4d4;
  --color-rose-400: #a3a3a3;
  --color-rose-500: #737373;
  --color-rose-600: #525252;
  --color-rose-700: #404040;
  --color-rose-800: #262626;
  --color-rose-900: #171717;

  --color-red-50: #f5f5f5;
  --color-red-100: #f5f5f5;
  --color-red-200: #e5e5e5;
  --color-red-350: #d4d4d4;
  --color-red-400: #a3a3a3;
  --color-red-500: #737373;
  --color-red-600: #525252;
  --color-red-700: #404040;
  --color-red-800: #262626;
  --color-red-900: #171717;
}

